* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
  color: #33475B;
}

a {
  text-decoration: none;
  color: #32495B;
}

a:hover {
  text-decoration: underline;
  color: #004F8C;
}

li {
list-style: none;
}

/* Utility CSS */
.al-center {
  text-align: center;
}

.al-left {
  text-align: left;
}

.inline>* {
  display: inline;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.content {
  width: 80%;
  padding: 25px 0;
  margin: auto;
}

.vert-padd> * {
  padding: 16px 0;
}

.horiz-padd> * {
  padding: 0 12px;
}

.m-top10 {
  margin-top: 10px !important;
}

.imp-title {
  font-size: 45px;
  line-height: 50px;
}

.sect-title {
  font-size: 30px;
  line-height: 35px;
}

.box-title {
  font-size: 25px;
  line-height: 30px;
}

.box-subtitle {
  font-size: 18px;
  line-height: 23px;
}

.font-small {
  font-size: 12px;
}

.button {
  background: #FF7155;
  border: 1px solid #FF7155;
  border-radius: 5px;
  color: #FFF !important;
  text-decoration: none;
  padding: 1.35em 2em;
}

.button:hover {
  background: #FFA987;
  text-decoration: none;
}

.hr:after{
  content: '';
  display: block;
  height: 2px;
  margin-top: 25px;
  background-color: #899397;
}

.div4 {
  width: calc(100% / 4);
}

header, main, footer {
  min-width: 1500px;
  max-width: 1900px;
}
/* / Utility CSS */

/* NAVBARS */
.topbar {
  width: 100%;
  background: #E5F1FB;
  border-bottom: 1px solid #12273A;
}

.topbar .f-left>ul>li:last-child {
  border-left: 1px solid #899397;
}

.topbar .f-right>a{
  padding: 12px;
  margin-left: 10px;
  color: #01A6BE;
}

#login {
  background: #FFF;
  color: #FF7155 !important;
}

.fixbar {
  width: 100%;
  background: #FFF;
  position: sticky;
  top: 0;
  z-index: 2
}

.fixbar>.content>.f-left img {
  vertical-align: middle;
}
/* / NAVBARS */

/* INTESTAZIONE */
.jumbotron {
  height: 695px;
  padding-top: 50px;
  background-color: #FFF3ED;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}

.jumbotron>.content> * {
  width: 45%;
}

.jumbotron:after  {
  content: '';
  width: 100%;
  height: 80px;
  background: rgb(0,164,141);
  background: linear-gradient(264deg, rgba(0,164,141,1) 0%, rgba(54,204,184,1) 60%, rgba(142,227,217,1) 100%);
  border: solid #364C60;
  border-width: 3px 0;
  position: absolute;
  bottom: 0;
}
/* / INTESTAZIONE */

/* CORPO PRINCIPALE */
/* articoli */
.articles {
  background: #F2F9FD;
}

.head-article {
  width: 70%;
  margin: auto;
}

.box {
  background: #FFF;
  padding: 20px 55px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
  border: 1px solid transparent;
  border-radius: 5px;
}

.box i {
  color: #FF7155;
}

.top-article>.f-left {
  margin: 20px 5%;
}

.top-article>.f-left:first-child {
  width: 15%;
}

.top-article>.f-left:first-child>div>img {
  width: 100%
}

.top-article>.f-left:last-child {
  width: 65%;
}

.top-article .box-subtitle {
  line-height: 18px;
}

.top-article .hr:after {
  width: 65%;
  margin-top: 8px;
  float: right;
}

.top-article li> * {
  margin-right: 10px;
}

.boxes>.f-left:first-child {
  width: 100% !important;
}

.boxes>.f-left {
  width: calc(100% / 3 - 20px);
}

.boxes>.f-left:nth-child(3) {
  margin: 0 30px;
}

.list-article>img:first-child {
  height: 120px;
}

.list-article .button {
  font-size: 14px;
}
/* / articoli */
/* statistiche */
.stats {
  background: rgb(0,157,180);
  background: linear-gradient(74deg, rgba(0,157,180,1) 0%, rgba(0,173,181,1) 44%, rgba(0,190,165,1) 100%);
  color: #FFF;
}

.grid {
  padding:25px 40px;
}

.grid.horiz-b {
  border-bottom: 1px solid #FFF;
}

.grid.vert-b {
  border-right: 1px solid #FFF;
}

.grid> *:not(:last-child) {
  margin-bottom: 20px;
}

.grid>div:first-child {
  height: 36px;
}

.grid>div:first-child>img {
  height: 100%;
}

.data-numb {
  font-size: 38px;
  display: inline-block;
}

.data-numb:after {
  content: '+';
  float:right;
  padding: 0 7px;
  font-size: 24px;
}
/* / statistiche */
/* customers */
.customers {
  background: #FFF;
}

.partners> * {
  margin: 0 100px;
}

.partners>.f-left {
  width: 200px;
}

.logos {
  width: 580px;
  margin-top: 25px;
}

.logos img {
  width: calc(100% / 4 - 23px);
  vertical-align: middle;
  margin: 10px;
}

.try> * {
  width: 35%;
}

.try>.f-left {
  padding: 50px 0;
}

.try>.f-right>img {
  width: 80%
}
/* / customers */
/* / CORPO PRINCIPALE */

/* BASE */
footer {
  background: #32495B;
  color: #FFF;
}

footer a{
  color: #CBD6E2;
}

footer a:hover{
  color: #AFD7FF;
}

.bottom-menu>.div4> * {
  line-height: 40px;
}

#contact {
  background-color: #CBD6E2;
  border-color: transparent;
  color: #32495B !important;
  padding: 10px;
}

.social {
  color: #CBD6E2
}

.social> * {
  padding: 0 11px;
}

.lang {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.lang>ul>li {
  display: inline-block;
  margin: 0 25px;
}

.credits>.f-left> * {
  height: 30px;
  margin: 10px 0;
}

.credits>.f-left img {
  height: 100%;
  opacity: 60%;
}
/* / BASE */
